.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.routeContainer {
  border: 2px solid #ccc;
}

.title h1 {
  font-size: 3em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

.Sidebar {
  margin-left: 5%;
  margin-top: 2%;
  border: 2px solid #ccc;
  padding: 15px;
}

.Sidebar-top {
  justify-content: space-between;
  align-items: center;
}

.Slider {
  margin-bottom: 5%;
  border: 2px solid #ccc;
  padding: 10px;
}

.Subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.Trades-FormGroup {
  display: inline-flex;
  align-items: center;
}

.Trades-form {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 45%;
  padding-left: 50px;
}

.Trades-right {
  display: flex;
  margin-left: 30px;
}

.Trades-right h3 {
  text-align: right;
}

.Subheader-active {
  color: green;
  font-weight: bold;
  text-decoration: underline;
}

.perf-profiler {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50px;
  top: 20px;
  padding: 10px;
  background: #ec407a;
  text-align: center;
}

.perf-profiler > h1 {
  font-size: 1.5em;
  color: #fff;
}

.perf-profiler > button {
  margin: 6px 0;
  color: #fff;
  background-color: #2196f3;
  font-weight: 500;
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.perf-profiler > button:hover {
  background-color: #39a1f4;
  box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
  outline: 0;
}

.perf-profiler > button:focus {
  background-color: #39a1f4;
  box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
  outline: 0;
}
