.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.routeContainer {
  border: 2px solid #ccc;
}

.title h1 {
  font-size: 3em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

.Sidebar {
  margin-left: 5%;
  margin-top: 2%;
  border: 2px solid #ccc;
  padding: 15px;
}

.Sidebar-top {
  justify-content: space-between;
  align-items: center;
}

.Slider {
  margin-bottom: 5%;
  border: 2px solid #ccc;
  padding: 10px;
}

.Subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.Trades-FormGroup {
  display: inline-flex;
  align-items: center;
}

.Trades-form {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 45%;
  padding-left: 50px;
}

.Subheader-active {
  color: green;
  font-weight: bold;
}
