body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.inline-block {
    display: inline-block;
}

.col-form-label {
    font-weight: bold;
}

aside {
    overflow-y: scroll;
    position: fixed;
    height: 100%;
}
