// colors
$white: #fff !default;
$black: #000 !default;
$red: #E53935 !default;
$orange: #FB8C00 !default;
$yellow: #FDD835 !default;
$green: #43A047 !default;
$blue: #1E88E5 !default;
$teal: #00897B !default;
$pink: #D81B60 !default;
$purple: #8E24AA !default;
$enable-rounded: true !default;
// button
$border-radius: 0 !default;
$brand-primary: $green;
